<!doctype html>

{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">

        <title>{{ meta.title }}</title>
        <meta name="description" content="{{ meta.description }}">

        <script src="{% static "dashboard/js/eva.min.js" %}"></script>
        {% block css %}
            <link rel="stylesheet" href="{% static "dashboard/css/normalize.css" %}">
            <link rel="stylesheet" href="{% static "dashboard/css/dashboard.css" %}">
        {% endblock %}
    </head>

    <body>
        {% block body %}
        {% endblock %}
    </body>

    <script>
      eva.replace()
    </script>
    {% block script %}
    {% endblock %}
</html>
