{% extends 'dashboard/base.html' %}
{% load static %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "dashboard/css/search-client.css" %}">
{% endblock %}

{% block body %}
    <main class="main-container">
        <nav class="search-client">
            <img class="logo" alt="Joole logo" src="{% static 'dashboard/img/joole.png' %}" />
            <div class="search-input-container">
                <label for="search-client">Numéro client ou nom</label>
                <div class="search-input">
                    <input id="search-client" />
                    <a id="search-client-link" href=""><i class="icon fill-gray" data-eva="search"></i></a>
                </div>
            </div>
        </nav>
    </main>
{% endblock body %}

{% block script %}
    <script src="{% static 'dashboard/js/search-client.js' %}"></script>
{% endblock %}
