.clients-list-container {
    max-width: 48rem;
    margin: 3rem auto;
    padding: 0 1rem;
}

.clients-list {
    font-size: 0.8rem;
    width: 100%;
}

.clients-list svg {
    width: 1.25rem;
    margin: auto;
}

.clients-list thead {
    background: var(--lightgray);
    border-top: solid 1px var(--mediumgray);
    border-bottom: solid 1px var(--mediumgray);
    color: var(--gray);
    text-align: left;
}

.clients-list th, td {
    padding: 0.5rem;
}

.clients-list tbody tr {
    border-bottom: solid 1px var(--mediumgray);
}

/* media queries */
@media (min-width: 28rem) {
    .clients-list {
        font-size: 1rem;
    }

    .clients-list svg {
        width: 1.5rem;
    }
}

@media (min-width: 48rem) {
    .clients-list .icon-link {
        width: 1rem;
        margin-left: 0.25rem;
    }
}
